<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <properties>
        <property name="LOG_DIR">${sys:user.dir}/logs</property>
    </properties>
    <appenders>
        <Console name="ConsoleAppender">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p [%t] %c - %m%n" />
        </Console>
        <RollingFile name="RollingFileAppender"
                     fileName="${LOG_DIR}/migration-utility.log"
                     filePattern="${LOG_DIR}/migration-utility-%i.log.gz"
                     createOnDemand="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %c - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="INFO">
            <AppenderRef ref="${sys:log.target:-ConsoleAppender}"/>
        </root>
    </loggers>
</configuration>